body {
  font-family: 'Montserrat', sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  margin: 0;
  background-color: #f0f0f0;
}

input#datetime-picker {
  width: 285px;
  padding: 8px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-bottom: 30px;
  margin-left: 12px;

  border: 2px solid #2e2f42;
  border-radius: 4px;
  background: #fff;
}

input#datetime-picker:hover {
  border-color: #000000;
}

input#datetime-picker:active {
  border-color: #4e75ff;
}

input#datetime-picker:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

button[data-start] {
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  background-color: #4e75ff;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin-bottom: 30px;
  cursor: pointer;
  color: #fff;
}

button[data-start]:hover {
  background-color: #6c8cff;
}

button[data-start]:disabled {
  background-color: #cfcfcf;
  cursor: not-allowed;

  color: #989898;
  opacity: 0.5;
}

.timer {
  display: flex;
  gap: 10px;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  min-width: 60px;
}

.value {
  font-size: 2rem;
  color: #333;
}

.label {
  font-size: 1rem;
  color: #777;
}
